Progenitor panics processing jans-scim-openapi.yaml

Running progenitor on a modified version of https://raw.githubusercontent.com/JanssenProject/jans-scim/master/server/src/main/resources/jans-scim-openapi.yaml that's been converted to json panics:

```
thread 'main' panicked at '"urn:ietf:params:scim:schemas:extension:gluu:2.0:user_" is not a valid Ident'
```

I don't understand this, given that "user_" isn't present anywhere in the json, but this is my first time using anything openapi related :)

I'm attaching the modified json to this issue here: [jans-scim-openapi.json.gz](https://github.com/oxidecomputer/progenitor/files/7824770/jans-scim-openapi.json.gz).

I ran with:

```
cargo run -p progenitor -- \
    -i jans-scim-openapi.json \
    -o "${PWD}/scim-rs/" \
    -n scim-rs \
    -v 0.0.1
```

Thanks for filing this! It looks like we're not properly sanitizing object properties, in this case `urn:ietf:params:scim:schemas:extension:gluu:2.0:User` which is a property of `UserResource` (indirectly).

I'm not confident that this is the only issue we're going to hit in this file... in particular, this construct looks challenging:

```yaml
    UserResource:
      description: Represents a user resource. See section 4.1 of RFC 7643
      allOf:
      - $ref: '#/components/schemas/BaseResource'
      - type: object
      - type: object
        properties:
```

As an aside, the algorithm for sanitizing idents (naively) appends an `_` if parsing to a `syn::Ident` fails in order to generically catch the use of keywords.

Fixed with https://github.com/oxidecomputer/progenitor/commit/f1f9e2e93850713908f4e6494808a07f3b253108